body{
	/*box-sizing: border-box;*/
	/*color: red;*/
}
#accountSettings {
    /* background-image: linear-gradient(to bottom, #EBB8A2, #846C61); */
    height: 100%;
    background: #EFEFEF;
}
html, body, #map-wcanvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/*#map-canvas {

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;

}*/

.angular-leaflet-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
 .leaflet-popup-content-wrapper{
  width: 120px;
 }
 .leaflet-popup-close-button{
  overflow: auto;
 }
/* .profilePic{
  width: 500px
 }*/
/*Fancy Title*/
/*md-card > md-card-content  :after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background: radial-gradient(circle farthest-side at top,rgba(255,255,255,0.45) 0,rgba(255,255,255,0) 100%);
}*/
  /*.cards img {
  	height: 150px;
  	width: 100px;
  }*/
.card h1{
	float: right;
}


md-grid-tile{
	/*margin-top: 50px;*/
/*	height: 00px;
*/
}

.card{
/*	height: 00px;
*/
}
md-grid-list,div#content{
	background: #DCDCDC;
	overflow: hidden;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

  .fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
/*pass in the quote itself */

/*--------------------Form--------------------------------------------------------*/
.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }

img.logo {
    width: 130px;
    position: relative;
    left: 10px;
    top: 0px;
}


md-toolbar.layout.layout-column.ng-scope.md-default-theme {
    height: 60px;
}
img.funny{
  border: 5px;
  width: 500px;
}
md-card.md-padding.flex.ng-scope.md-default-theme {
    height: 392px;
}
md-sidenav.md-sidenav-left.md-whiteframe-z2.layout.layout-column.ng-isolate-scope {
    padding: 20px;
}


md-dialog {
    width: 800px;
}

 img:focus {
    outline: none;
    border: 0;
 }

 a.leaflet-popup-close-button {
    display: none;
}

md-tabs-canvas  span.ng-scope {
    /*color: white;*/
    font-weight: bolder;
    font-size: 16px;
}

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: rgb(255, 255, 255);
}
/*md-tabs-canvas {
    background: #FFB03C;
}*/
/*md-next-button {
    background: #FFB03C;
}*/
md-dialog {

    max-width: 90%;
    max-height: 90%;

}

md-tabs.md-accent.ng-isolate-scope {
    height: 100%;
}

body{
  overflow: hidden;
}
img.sm-card-image {
    height: 150px;
    width: 150px;
}
.leaflet-popup-content img {
    height: 80px;
}
button.md-accent.md-raised.login.md-button {
    height: 10px;
    top: 10px;
}
md-content.usertitle.layout-align-start-center.layout-column.flex {
    overflow: hidden;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

  button.md-fab.md-button.md-ink-ripple {
      position: absolute;
      bottom: 30px;
      right: 30px;
  }

img.profileImg{
  width: 180px;
}

p.md-display-1.login-btn.ng-scope {
    margin: 10px;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  height: auto;
  /*border: 1px solid black;*/
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  height: 0px;
  opacity: 0;
  padding: 0 10px;
}

./*example-animate-container {
  background:white;
  border:1px solid black;
  list-style:none;
  margin:0;
  padding:0 10px;
}
*/
.animate-repeat {
  line-height:40/px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     position: relative;
     display: block;
     overflow: hidden;
     text-overflow: clip;
     white-space:nowrap;

}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
     width: 0px;
     height: 0px;

}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
      width: 150px;
      height: 30px;

}

md-card.ng-enter{
  animation: rubberBand 1s;
}

md-card.ng-leave{
  animation: zoomOutDown 1s;
}