<md-content md-swipe-left="switchTabs(1)" md-swipe-right="switchTabs(-1)">
  <md-grid-list md-cols-sm="1" md-cols-md="4" md-cols-gt-md="6" md-cols-gt-lg="6" md-row-height="200px" md-gutter="8px" md-gutter-gt-sm="4px" >

  <!-- data-ng-repeat="user in users  | filter: searchbox " > --><!-- https://docs.angularjs.org/error/filter/notarray?p0=%7B%7D -->
  <md-grid-tile data-ng-repeat="user in users    "  md-rowspan="2" md-colspan="{{cardColumn}}" md-colspan-md="2" md-colspan-sm="1" class="md-padding cards rotate-in" layout="column" >
    <md-card class="md-padding md-whiteframe-z3 userCards" flex layout="column" >
        <md-content layout='row'  >
          <img ng-src="{{::user.pictureMd}}" class="sm-card-image" alt="Movie Img" >
          <md-content class="usertitle" layout="column" layout-align="start center" flex>
            <h1 class="md-title" ng-click="selectUserProfile(user)"><a href="#ProfileView/{{::$index}}">{{ ::user.firstName + ' '+ user.lastName| uppercase}}</a></h1>
          </md-content>
        </md-content  >
        <md-content  flex layout="column" layout-align="start start">
          <div flex layout="column" layout-align="start start">
            <p class="md-title"> Username : {{::user.username}} </p>
            <p>{{user.apart| limitTo: 3}} Miles Away</p>
          </div>
        </md-content>
          <md-content class="md-actions" layout="row" layout-align="end end">
            <md-button data-ng-click="goToProfile(user)">View Profile</md-button>
            <md-button data-ng-click="setMapCenter(user)">View On Map</md-button>
          </md-content>
    </md-card>
  </md-grid-tile>


   </md-grid-list>
</md-content>


