
 <md-dialog aria-label="Login Form" >
  <!-- <form> -->
    <md-toolbar class="md-toolbar-tools">

        <h1><strong>Welcome to Velocetti</strong></h1>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" >
          
        </md-button>

    </md-toolbar>

    <md-dialog-content  layout-padding style="max-width:800px;max-height:810px; ">

      <h1 data-ng-dblclick="loginAsGuest()" >Existing Users </h1>

      <form ng-submit="login()" layout="row">
          <md-input-container flex> 
            <label>Username</label> 
          <input ng-model="loginForm.username" type="text"/> </md-input-container>
          <md-input-container flex> 
            <label>Password</label> 
          <input ng-model="loginForm.password" type="password"/> </md-input-container>
          <md-button  class="md-accent md-raised login" ng-click='login()'  >
            <strong>Submit</strong>
          </md-button>
      </form>


      <h1>Become A New User</h1>

      <form ng-submit="signup()" layout="column">
        <div layout="row">
          <md-input-container flex> 
            <label>Username</label> 
            <input ng-model="signupForm.username" type="text"/> 
          </md-input-container>
          <md-input-container flex> 
            <label>Password</label> 
            <input ng-model="signupForm.password" type="password"/> 
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex> 
            <label>First Name</label> 
            <input ng-model="signupForm.firstName" type="text"/> 
          </md-input-container>
          <md-input-container flex> 
            <label>Last Name</label> 
            <input ng-model="signupForm.lastName" type="text"/> 
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex> 
            <label>Email</label> 
            <input ng-dblclick="hansel()" ng-model="signupForm.email" type="text"/> 
          </md-input-container>
          <md-input-container flex> 
            <label>Picture</label> 
            <input ng-dblclick="chuck()" ng-model="signupForm.pictureMd" type="text"/> 
          </md-input-container>
        </div>
        
          <md-button  class="md-accent md-raised login" ng-click='signup()'  >
            <strong>Submit</strong>
          </md-button>

      </form>


      
    </md-dialog-content>

    <div class="md-actions" layout="row">
      <!-- <md-button  target="_blank" md-autofocus>
        hello
      </md-button> -->
      <span flex></span>

      <md-button class="md-accent md-raised " ng-click="answer('useful')" style="margin-right:20px;" >
        <strong>Close</strong>
      </md-button>
    </div>
  <!-- </form> -->
</md-dialog>

